---
import Main from "../layouts/Main.astro";
import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → Bio`} last_modified="1734771487">

</Main>

<style>
    hr {
        border: none; /* Removes default border */
        height: 0.01em; /* Smallest possible line */
        background-color: var(--text-color); /* Green color */
        width: 80%; /* 80% of the container width */
        margin: 0 auto; /* Center the line horizontally */
    }
</style>