---
import Main from "../layouts/Main.astro";
import { siteMetadata } from "../siteMetadata";
import { getCachedLastCommitTimestamp } from "../utils/github.js";

const lastModified = await getCachedLastCommitTimestamp();
---

<Main title={`${siteMetadata.title} → Blog`} last_modified={lastModified}></Main>