---
import Main from "../layouts/Main.astro";
import ContactSidebar from "../components/ContactSidebar.astro";
import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → Contact`} last_modified="1734771487">
    <ContactSidebar />
</Main>