---
import Main from "../layouts/Main.astro";
import ContactSidebar from "../components/ContactSidebar.astro";
import Whoami from "../components/Whoami.astro";

import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → Contact`} last_modified="1734771487">
    <div class="container">
        <ContactSidebar />
        <Whoami />
    </div>
</Main>

<style>
    .container {
        display: flex;
        justify-content: left;
        align-items: stretch;
        height: 100vh;
    }
</style>
