---
import Main from "../layouts/Main.astro";
import ContactSidebar from "../components/ContactSidebar.astro";
import Whoami from "../components/Whoami.astro";

import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → Contact`} last_modified="1734771487">
    <div class="container">
        <ContactSidebar />
        <Whoami />
        <!-- This is where we'll render the typed command -->
    </div>

    <style>
        .container {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            gap: 1em;
            height: auto;
            padding: 1em;
            flex-wrap: wrap;
        }

        .sidebar,
        .whoami {
            width: 100%;
            padding: 1em;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border: 1px solid var(--text-color);
            margin-bottom: 1em;
        }

        /* Responsive adjustments for mobile screens */
        @media (max-width: 768px) {
            .container {
                flex-direction: column; /* Stack elements vertically */
                padding: 0.5em;
            }

            .sidebar,
            .whoami {
                width: 100vw; /* Full width of the viewport */
                margin: 0; /* Remove margins for a clean edge-to-edge layout */
                padding: 1em; /* Adjust padding for spacing */
            }
        }
    </style>
</Main>
