---
import Main from "../layouts/Main.astro";
import ContactSidebar from "../components/ContactSidebar.astro";
import Whoami from "../components/Whoami.astro";

import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → Contact`} last_modified="1752177981">
    <div class="container">
        <ContactSidebar />
        <Whoami />
        <!-- This is where we'll render the typed command -->
    </div>

    <style>
        .container {
            display: flex;
            justify-content: left;
            align-items: stretch;
            gap: 1em;
            height: auto;
            padding: 1em;
            flex-wrap: wrap;
        }


        /* Responsive adjustments for mobile screens */
        @media (max-width: 768px) {
            .container {
                flex-direction: column; /* Stack elements vertically */
                padding: 0.5em;
            }

        }
    </style>
</Main>
