---
import Main from "../layouts/Main.astro";
import MatrixComponent from "../components/Matrix.astro";

import { siteMetadata } from "../siteMetadata";
---

<Main title={`${siteMetadata.title} → Contact`} last_modified="1734771487">
    <MatrixComponent />
</Main>