---
import { siteMetadata } from "../siteMetadata";
---

<div class="theme-toggler-container">
    <h1><a href="/">{siteMetadata.title}</a></h1>
    <!-- <ThemeToggler /> -->
</div>
<style>
    .theme-toggler-container {
        margin-right: 1em;
    }
</style>
